@font-face {
  font-family: 'circe';
  src: url('https://websitefonts.b-cdn.net/CRC25.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'tajawal';
  src: url('https://websitefonts.b-cdn.net/Tajawal-Light.woff2');
  font-display: swap;
}

.circe {
  font-family: 'circe';
}

.tajawal {
  font-family: 'tajawal';
}
